@import 'base/variables';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body {
    margin: auto;
    position: relative;
}
nav {
    width: 100%;
    height: 100%;
}
main {
    position: relative;
    top: -70px;
    .container {
        width: 100%;
        margin-top: 10px;
        .order {
            margin-top: 10px;
            padding: 0 1.8%;
        }
        .product {
            margin-top: 50px;
            padding: 0 1.8%;
        }
        .advantage {
            margin-top: 50px;
        }
        .question {
            margin-top: 30px;
            padding: 0 1.8%;
        }
        .gallery {
            margin-top: 30px;
        }
        //page catalog
        .catalog {
            margin-top: 70px;
        }
        .product-page {
            margin-top: 70px;
        }
    }
}
.forms {
    display: none;
    opacity: 1;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    transition: .5s;
    z-index: 30;
    .order-form {
        display: none;
        width: 100%;
        height: 100%;
    }
    .buy-form {
        display: none;
        width: 100%;
        height: 100%;
    }
}



@import 'elements/buttons';
@import 'elements/cards';
@import 'elements/titles';
@import 'elements/communication';
@import 'elements/form';
@import 'elements/text-pages';

@import 'blocks/info';
@import 'blocks/header';
@import 'blocks/slider';
@import 'blocks/product';
@import 'blocks/advantage';
@import 'blocks/gallery';
@import 'blocks/footer';

@import 'blocks/page_catalog';
@import 'blocks/page_product-page';
@import 'blocks/page_contacts';
@import 'blocks/page_company';
@import 'blocks/page_text-content';
@import 'blocks/page_404';

@import 'media/info_m';
@import 'media/header_m';
@import 'media/slider_m';
@import 'media/cards_m';
@import 'media/communication_m';
@import 'media/form_m';
@import 'media/footer_m';
@import 'media/page-contacts_m';
@import 'media/page_product-page_m';
@import 'media/page_company_m';
@import 'media/page_head_m';
@import 'media/element_titles_m';
@import 'media/element_text-pages';

@import 'import_css/swiper';