.communication {
    overflow: hidden;
    filter: drop-shadow(5px 5px 25px #c4c4c4);
    border-radius: 4px;
    
    &__wrapper {
        width: 100%;
        height: 50vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    &__img {
        width: 100%;
        img {
            z-index: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            
        }
    }
    &__block {
        padding: 0 5%;
        z-index: 1;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__txt {
        font-size: 23px;
        font-weight: 500;
        text-align: center;
        color: rgb(253, 253, 253);
        text-shadow: 1px 1px 0px rgb(5, 5, 5);
        span {
            font-weight: 700;
            color: $main-color;
            text-shadow: 1px 1px 0px rgb(5, 5, 5);
        }
    }
    &__wrapper-btn {
        .button_communication {
            width: 150px;
            height: 45px;
            font-size: 18px;
            line-height: 17px;
            margin-top: 15%;
        }
        
    }
    .question-form {
        z-index: 1;
        position: absolute;
        .form {
            margin-top: 0px;
            background: rgb(248, 244, 244, 0.5);
            input {
                background: rgb(248, 244, 244, 0.0);
            }
            form {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            label {
                text-align: center;
            }
        }
        
    }
    
}