.titles {
    h1, h2, h3 {
        text-align: center;
        font-size: 30px;
        font-weight: 900;
        color: $main-color;
        line-height: 25px;
        margin-bottom: 7px;
    }
    
    
}