.cards {
    &__card_gallery {
        min-width: 23.42vw;
        height: 16vw;
        padding: 0.25%;
    }
    
    &__background-img_gallery {
        min-width: 23.42vw;
        height: 16vw;
    }
}