.catalog {
    &__busines-card {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__wrapper-img {
        width: 30vw;
        img {
            width: 30vw;
            object-fit: cover;
        }
    }
    .titles {
        margin-top: 30px;
    }
    
}