.company {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    
    padding: 30px 10%;
    .titles {
        margin-bottom: 30px;
    }
   
    &__wrapper {
        width: 100%;
        margin-bottom: 40px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__left-img {
        width: 100%;
        min-height: 300px;
        display: flex;
        .titles {
            padding-left: 30px;
        }
        .text-row {
            padding-left: 30px;
        }
            
        
    }
    &__right-img {
        width: 100%;
        min-height: 300px;
        display: flex;
        .titles {
            padding-right: 30px;
        }
        .text-row {
            padding-right: 30px;
        }
    }
    &__img {
        min-width: 30vw;
        height: 30vw;
        overflow: hidden;
        filter: drop-shadow(5px 5px 25px #c4c4c4);
        img {
            width: 30vw;
            height: 30vw;
            object-fit: cover;
            border-radius: 4px;
        }
    }
    &__descr {
        min-width: 60%;
        .titles {
            margin-bottom: 10px;
        }
        h2 {
            text-align: center;
            font-size: 25px;
        }
    }

    &__gallery {
        .titles {
            margin-bottom: 10px;
            h3 {
                font-size: 25px;
            }
        }
    }
}