@media (max-width: 1200px) {
    .cards {
        &__block {
            font-size: 1.5vw;
        }
       
        .button_card {
            font-size: 13px;
        }
    }
}

@media (max-width: 991px) {
    .cards {
        &__block {
            font-size: 1.6vw;
        }
       
        .button_card {
            font-size: 10px;
        }
    }
}

@media (max-width: 767px) {
    .cards {
        &__block {
            font-size: 1.7vw;
        }
       
        .button_card {
            width: 32%;
            font-size: 9px;
        }
    }
}

@media (max-width: 575px) {
    .cards {
        
        &__card {
            min-width: 47.5vw;
            height: 33vw;
            padding: 0.5%;
            box-sizing: content-box;
        }

        &__background-img {
            min-width: 47.5vw;
            height: 33vw;
            object-fit: cover;
            border-radius: 4px;
        }
        &__block {
            font-size: 2.8vw;
        }
        
        .button_card {
            font-size: 10px;
        }

    }
}

@media (max-width: 450px) {
    .cards {
        .button_card {
            font-size: 9px;
        }
    }
}

@media (max-width: 350px) {
    .cards {
        .button_card {
            width: 40%;
            font-size: 7px;
        }
    }
}