@media (max-width: 767px) {
    .titles {
        h1 {
            font-size: 25px;
        }
        h2 {
            font-size: 23px;
        }
    }
    .product-page__presentation .col:nth-child(odd) h2 {
        font-size: 23px;
    }
    .product-page__descr .titles h2,
    .company__descr .titles h2, 
    .company__gallery .titles h3 {
        font-size: 22px;
    }
}

@media (max-width: 575px) {
    .titles {
        h1 {
            font-size: 23px;
        }
        h2 {
            font-size: 21px;
        }
    }
    .product-page__presentation .col:nth-child(odd) h2 {
        font-size: 20px;
    }
    .product-page__descr .titles h2,
    .company__descr .titles h2, 
    .company__gallery .titles h3 {
        font-size: 21px;
    }
}