@media (max-width: 570px) {
    .form {
        &__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            div {
                
            }
            
        }
        &__tel {
            align-items: center;
            flex-direction: column;
        }
        form {
            button {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

@media (max-height: 480px) {
    .form {
        label{
            margin-top: 5px;
            font-size: 14px;
        }
        input {
            margin-top: 5px;
            height: 25px;
            padding: 0 10px;
        }
        textarea {
            padding: 5px;
        }
        &__title {
            font-size: 16px;
        }
    }
    

}