@media (max-width: 1200px) {
    .contacts {
        height: auto;
        flex-wrap: wrap;
        margin-top: 100px;
        .titles {
            h1 {
                text-align: center;
            }
        }
        
        .col:first-child {
            width: 100%;
            margin: 0;
            margin-bottom: 30px;
            
        }
        .col:last-child {
            width: 100%;
            margin: 0;
            margin-bottom: 30px;
        }
        .col {
            &__city {
               text-align: center;
               margin-top: 20px; 
            }
            &__tel {
                justify-content: center;
            }
            &__mail-wrapper {
                display: flex;
                align-items: center;
                flex-direction: column;
            }
        }
    }
}

@media (max-width: 500px) {
    .contacts {
        .col {
            &__tel {
                flex-direction: column;
            }
            &__tel-title {
                text-align: center;
            }
            &__tel-wrapper:first-child {
                margin: 0 0 5px 0;
            }
        }
    }
    
    
}